.about-section {
  background-color: #0b0b0b;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.highlight {
  background: linear-gradient(to right, #d92eff, #ff5b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto 60px;
  text-align: left;
}

.about-image img {
  width: 100%;
  max-width: 250px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}


.about-text {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.8;
}



.about-stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 50px 0;
  flex-wrap: wrap;
}

.about-stats span {
  font-size: 30px;
  font-weight: bold;
}

.about-stats p {
  font-size: 14px;
  color: #ccc;
  margin-top: 8px;
}

.gradient {
  background: linear-gradient(to right, #d92eff, #ff5b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-section {
  margin-top: 50px;
}

.experience-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d92eff;
}

.experience-box {
  background-color: #1a1a1a;
  padding: 25px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

.experience-box h3 {
  font-size: 20px;
  color: #fff;
}

.experience-box p {
  font-size: 14px;
  margin-top: 5px;
  color: #ccc;
}

.date {
  color: #999;
  font-style: italic;
}

.skills-section {
  margin-top: 60px;
}

.skills-section h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #d92eff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.skill-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-card img {
  height: 40px;
  margin-bottom: 10px;
}

.skill-card span {
  font-size: 13px;
  color: #ddd;
  display: block;
  margin-top: 5px;
}


.skill-bar {
    margin: 10px 0;
    transition: 0.3s;
}

.progress-bar {
    border-radius: 5px;
    overflow: hidden;
    height: 7px;
    background-color: #5b5a5a;
}

.skill-bar:hover {
    transform: scale(1.1);
}

.progress {
    background: linear-gradient(90deg, #a855f7, #ff9a00);
    height: 100%;
}


@media (max-width: 992px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

 

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-card span {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    margin: 5px auto 0;
  }

  .about-image img {
    width: 80%;
    margin: auto;
  }

    .about-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-image img {
    max-width: 70%;
  }
}
