.hero-section {
  background-color: #0b0b0b;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 40px;
  text-align: center;
}

.hero-content {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  margin-bottom: 30px;
}

.hero-title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.gradient-text {
  background: linear-gradient(to right, #d92eff, #ff5b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  font-size: 16px;
  color: #cfcfcf;
  margin-bottom: 40px;
  line-height: 1.6;
  max-width: 700px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.primary-btn {
  background: linear-gradient(to right, #d92eff, #ff5b00);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.primary-btn:hover {
  opacity: 0.8;
}

.secondary-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease, color 0.3s ease;
}

.secondary-btn:hover {
border-color: #d92eff;

}

@media (max-width: 768px) {
  .hero-title {
    font-size: 28px;
  }

  .hero-image{
   padding-top: 30px;
  }

  .hero-description {
    font-size: 14px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    text-align: center;
  }

   .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    max-width: 300px;
  }
}
