@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color:rgba(59, 131, 246, 0.188) ;
  user-select: none;
  
}

*{
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}


#root {
  overflow-x: hidden;
}




html {
  scroll-behavior: smooth;
}









